<h1 class="card-title"><%= @event.title %></h2>
<h6>Created by
  <%= (User.find(@event.organizer_id)).username %></h6>
<p><%= @event.body %></p>

<% if EventAttendee.where(attend_event_id: @event.id).empty? %>
  <h2>
    No one is attending is this event right now
  </h2>
<% else %>
  <h6>
    List of Attendees
  </h6>
  <ul>
    <% EventAttendee.where(attend_event_id: @event.id).each do |event_relation| %>
     <% user = User.find(event_relation.attendee_id) %>
      <li><%= link_to user.username, user %> </li>
    <% end %>
  </ul>
<% end %>
