    </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item">
           <li class='nav-item'><%= link_to 'Home', root_path, class: 'nav-link' %></li>
         </li>
         <% if !(@user.nil?) %>
         <li class='nav-item'><h1><%= @user.username %></h1>
         </li>
         <% else %>
         <li class="nav-item">
           <li class='nav-item'><%=  link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
         </li>
         <% end %>
       </ul>
     </div>
   </div>
 </nav>
